.success {
  padding: 1rem;
  border: 1px solid green;
  border-radius: 0.3rem;
  color: green;
  font-size: 1rem;
  font-weight: bold;
  background-color: lightgray;
  margin-bottom: 0.5rem;
}

.error {
  padding: 1rem;
  border: 1px solid red;
  border-radius: 0.3rem;
  color: red;
  font-size: 1rem;
  font-weight: bold;
  background-color: lightgray;
  margin-bottom: 0.5rem;
}
